
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<main clas="main-content">
    <section class="layout-account">
        <div class="breadcrum">
            <div class="container">
                <div class="row">
                    <div class="breadcrum-title">
                        <h1>Welcome to our business</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="login">
                        <h1>Đăng Ký</h1>
                        <form id="form-login">
                            <div class="form-field">
                                <input type="text" class="form-input" placeholder=" ">
                                <label for="email" class="form-label">Họ</label>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-input" placeholder=" ">
                                <label for="email" class="form-label">Tên</label>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-input" placeholder=" ">
                                <label for="email" class="form-label">Email</label>
                            </div>
                            <div class="form-field">
                                <input type="text" class="form-input" placeholder=" ">
                                <label for="email" class="form-label">Password</label>
                            </div>
                            <div class="button-login">
                                <input type="submit" value="Đăng Ký">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
