
<div class="search-form">
    <form class="search-form-swap">
        <input type="text" class="textSearch" placeholder="Nhập thông tin bạn...">
        <button title="Search" type="submit" class="buttonSearch">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <script src="~/Code/ControllersJS/SearchProduct.js"></script>
</div>