

<li class="dropdown">
    @{ var session = (Website_ban_giay_cua_cong_ty_TNHH_ABC.Areas.Admin.code.AdminLogin)Session[Website_ban_giay_cua_cong_ty_TNHH_ABC.Code.CommonConstants.ADMIN_SESSION]; }
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> @session.username <b class="caret"></b>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="@Url.Action("Logout", "Login", new { id = UrlParameter.Optional })"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
        </li>
    </ul>
</li>