USE [QuanLyBanGIay]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID_admin] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[ID_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[ID_GioHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_ThongTinKhachHang] [int] NULL,
	[ID_SanPham] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[ID_GioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[ID_HoaDon] [int] IDENTITY(1,1) NOT NULL,
	[ID_ThongTinKhachHang] [int] NULL,
	[ID_SanPham] [int] NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID_loaiSanPham] [nvarchar](50) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[ID_loaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID_SanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](80) NULL,
	[GiaTien] [decimal](10, 0) NULL,
	[ID_loaiSanPham] [nvarchar](50) NULL,
	[ID_SoSize] [int] NULL,
	[Hinh] [varchar](255) NULL,
	[Mau] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[ID_SoSize] [int] NOT NULL,
	[value1] [int] NULL,
	[value2] [int] NULL,
	[value3] [int] NULL,
	[value4] [int] NULL,
	[value5] [int] NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[ID_SoSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhachHang]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhachHang](
	[ID_ThongTinKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](45) NOT NULL,
	[email] [varchar](80) NOT NULL,
	[firstName] [nvarchar](45) NULL,
	[lastName] [nvarchar](45) NULL,
	[SDT] [varchar](12) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[QuocTich] [varchar](45) NULL,
 CONSTRAINT [PK_ThongTinKhachHang] PRIMARY KEY CLUSTERED 
(
	[ID_ThongTinKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 12/07/2021 10:55:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[ID_YeuThich] [int] IDENTITY(1,1) NOT NULL,
	[ID_ThongTinKhachHang] [int] NULL,
	[ID_SanPham] [int] NULL,
 CONSTRAINT [PK_YeuThich] PRIMARY KEY CLUSTERED 
(
	[ID_YeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSanPham] ([ID_loaiSanPham], [GroupName]) VALUES (N'Hunter Nam', N'Hunter Nam')
INSERT [dbo].[LoaiSanPham] ([ID_loaiSanPham], [GroupName]) VALUES (N'Hunter Nữ', N'Hunter Nữ')
INSERT [dbo].[LoaiSanPham] ([ID_loaiSanPham], [GroupName]) VALUES (N'Phụ Kiện', N'Phụ Kiện')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [GiaTien], [ID_loaiSanPham], [ID_SoSize], [Hinh], [Mau]) VALUES (1, N'Giày Thể Thao Nam Biti''s Hunter Nameless Edition x Công Trí', CAST(1499000 AS Decimal(10, 0)), N'Hunter Nam', 2, N'/image/Hunter-Nam/dsmh05900kem-2_b1e52188961a42cdbe413b80f5453b1c_medium.jpg', N'Trắng')
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [GiaTien], [ID_loaiSanPham], [ID_SoSize], [Hinh], [Mau]) VALUES (2, N'Giày Thể Thao Cao Cấp Nam Biti''s Hunter X Washed Grey', CAST(999000 AS Decimal(10, 0)), N'Hunter Nam', 3, N'/image/Hunter-Nam/dsmh05100xam-2_9d8f1677eed34c7f807c077d3115d951_medium.jpg', N'
Xám')
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [GiaTien], [ID_loaiSanPham], [ID_SoSize], [Hinh], [Mau]) VALUES (3, N'Giày Thể Thao Cao Cấp Nam Biti''s Hunter X Army Green', CAST(999000 AS Decimal(10, 0)), N'Hunter Nam', 5, N'/image/Hunter-Nam/dsmh05100reu-2_2e3534c18d1d45968c3a41f9055db2e3_medium.jpg', N' Xanh Lá')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[Size] ([ID_SoSize], [value1], [value2], [value3], [value4], [value5]) VALUES (0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Size] ([ID_SoSize], [value1], [value2], [value3], [value4], [value5]) VALUES (1, 39, NULL, NULL, NULL, NULL)
INSERT [dbo].[Size] ([ID_SoSize], [value1], [value2], [value3], [value4], [value5]) VALUES (2, 39, 40, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] ON 

INSERT [dbo].[ThongTinKhachHang] ([ID_ThongTinKhachHang], [password], [email], [firstName], [lastName], [SDT], [DiaChi], [QuocTich]) VALUES (2, N'020901', N'khanhdoan693@gmail.com', N'Minh', N'Khánh', NULL, NULL, NULL)
INSERT [dbo].[ThongTinKhachHang] ([ID_ThongTinKhachHang], [password], [email], [firstName], [lastName], [SDT], [DiaChi], [QuocTich]) VALUES (3, N'020901', N'kdoan292001@gmail.com', NULL, N'Huy', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] OFF
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[SanPham] ([ID_SanPham])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_ThongTinKhachHang] FOREIGN KEY([ID_ThongTinKhachHang])
REFERENCES [dbo].[ThongTinKhachHang] ([ID_ThongTinKhachHang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_ThongTinKhachHang]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_SanPham] FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[SanPham] ([ID_SanPham])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_SanPham]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_ThongTinKhachHang] FOREIGN KEY([ID_ThongTinKhachHang])
REFERENCES [dbo].[ThongTinKhachHang] ([ID_ThongTinKhachHang])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_ThongTinKhachHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([ID_loaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([ID_loaiSanPham])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Size] FOREIGN KEY([ID_SoSize])
REFERENCES [dbo].[Size] ([ID_SoSize])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Size]
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_SanPham] FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[SanPham] ([ID_SanPham])
GO
ALTER TABLE [dbo].[YeuThich] CHECK CONSTRAINT [FK_YeuThich_SanPham]
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_ThongTinKhachHang] FOREIGN KEY([ID_ThongTinKhachHang])
REFERENCES [dbo].[ThongTinKhachHang] ([ID_ThongTinKhachHang])
GO
ALTER TABLE [dbo].[YeuThich] CHECK CONSTRAINT [FK_YeuThich_ThongTinKhachHang]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Account_Login]    Script Date: 12/07/2021 10:55:57 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_Account_Login]
	@Email varchar(50),
	@Password varchar(50)
as
begin 
	declare @count int 
	declare @res bit
	select @count = COUNT(*) from ThongTinKhachHang where @Email = email and password = @Password
	if @count > 0 
		set @res = 1
	else 
		set @res = 0

	select @res
end
GO
