@model DatabaseProvider.EntityFramework.ThongTinKhachHang
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_layoutLogin.cshtml";
}

<main clas="main-content">
    <section class="layout-account">
        <div class="breadcrum">
            <div class="container">
                <div class="row">
                    <div class="breadcrum-title">
                        <h1>Welcome to our business</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="login">
                        <h1>Đăng Nhập</h1>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null , new { @class="alert alert-danger"})
                    <form id="form-login">
                        <div class="form-field">
                            @Html.TextBoxFor(Model => Model.email, new { @class = "form-input", @placeholder = " " })
                            @*   <input type="text" class="form-input" placeholder=" ">*@
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="form-field">
                            @Html.TextBoxFor(Model => Model.password, new { @class = "form-input", @placeholder = " ", Type = "password" })
                            @*<input type="text" class="form-input" placeholder=" ">*@
                            <label for="email" class="form-label">Password</label>
                        </div>
                     
                            <div class="button-login">
                                <input type="submit" value="Đăng Nhập">
                            </div>
                            <div class="req-pass">
                                <a href="#" title="Đăng ký">Chưa có tài khoản? Đăng ký </a>
                            </div>
                            <div class="req-pass">
                                <a href="#">Quên Mật Khẩu </a>
                            </div>

                    </form>
                        }

                    </div>

                </div>

            </div>
        </div>
    </section>


</main>